@model MinMadOpskrift.Opskrift

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Opskrift</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Beskrivelse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Beskrivelse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ingredienser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ingredienser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bruger.Brugernavn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bruger.Brugernavn)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
